@font-face {
    font-family: 'pixelized';
    src: url('/font/pixelized.woff2') format('woff2'),
         url('/font/pixelized.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ti_pixel';
    src: url('/font/ti_pixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes borderBlink {    
    from, to {    
        border-color: black;
    }    
    50% {    
        border-color: transparent;
    }    
}
.hidden {
    visibility: hidden;
}
html, body{
    height: 100%;
    font-size: 100%;
    font-family: 'News Cycle', sans-serif;
}
#calc-outer {
    position: relative;
    width: 240px;
    height: 480px;
    min-height: 480px;
    min-width: 240px;
    margin: 0 auto;
    
    background: #111111;
    -moz-border-radius: 57% 57% 30% 30% / 4% 4% 17% 17%;
    -webkit-border-radius: 57% 57% 30% 30% / 4% 4% 17% 17%;
    border-radius: 57% 57% 30% 30% / 4% 4% 17% 17%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#inner-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    box-shadow: inset 0px 0px 8px 3px rgba(255,255,255,0.4);
}
#calc-inner {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: #777777;
    -moz-border-radius: 25% 25% 35% 35% / 14% 14% 25% 25%;
    -webkit-border-radius: 25% 25% 35% 35% / 14% 14% 25% 25%;
    border-radius: 25% 25% 35% 35% / 14% 14% 25% 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 96%;
    height: 96%;
    margin: 3% 2%;
    
    box-shadow: inset 0px 0px 12px 6px rgba(0,0,0,0.2);
}
#calc-inner-gradient {
    background: -moz-radial-gradient(center, ellipse cover, rgba(112, 112, 112, 1) 30%,rgba(133, 133, 133, 1) 62%,rgba(117, 117, 117, 0) 70%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(112, 112, 112, 1) 30%,rgba(133, 133, 133, 1) 62%,rgba(117, 117, 117, 0) 70%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(112, 112, 112, 1) 30%,rgba(133, 133, 133, 1) 62%,rgba(117, 117, 117, 0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 101%;
    margin-top: -2%;
    border-radius: 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#calc-screen {
    position: relative;
    background: #739070;
    border-left: 2px solid #8c8c8c;
    border-top: 2px solid #565656;
    border-radius: 3px 3px 0px 0px;
    box-shadow: inset -4px 4px 14px 5px rgba(0,0,0,0.2);
    
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 80%;
    
    /*background-image: url("/ti-89t_display.png");*/
    background-size: 100% 100%;
}
#calc-screen-tabs {
    height: 16%;
    display: flex;
}
#calc-screen-tabs div {
    height: 100%;
    min-width: 0px;
    padding-top: 1px;
    flex-grow: 1;
    padding-right: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10% 10% 0% 0% / 15% 15% 0% 0%;
    text-align: center;
    white-space: nowrap;
    font-family: 'pixelized', monospace, monospace;
    font-size: 0.5em;
    letter-spacing: -0.25em;
    line-height: 0.9;
}
#tab-empty {
    flex-basis: 10%;
    border-right: 1px solid black;
}
#calc-screen-history {
    height: 67%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    
    font-family: 'pixelized', monospace, monospace;
    font-size: 0.61em;
    letter-spacing: -0.1em;
}
#calc-screen-history ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#calc-screen-history ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0.22em;
}
#calc-screen-history ul li div:nth-child(2) {
    flex-grow: 1;
    text-align: right;
}
#calc-screen-entry-div {
    height: 11%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#calc-screen-status {
    height: 6%;
}
#calc-screen-text-entry {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 999;
    
    background-color: transparent;
    border: none;
    
    font-family: 'pixelized', monospace, monospace;
    font-size: 0.61em;
    letter-spacing: -0.1em;
    
    padding: 0em 0.3em 0em 0.3em;
}
#inputCover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent;
    z-index: 1000;
    font-family: 'pixelized', monospace, monospace;
    font-size: 0.61em;
    letter-spacing: -0.1em;
    padding: 0.01em 0.3em 0.01em 0.3em;
}
#inputCover > span {
    border-right: 2px solid black;
    margin-right: -2px;
    animation: borderBlink 1s step-end infinite;  
}
#calc-screen-shadow-top {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent;
    box-shadow: inset -2px 8px 6px rgba(0,0,0,0.3);
}
#calc-screen-spacer {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: 2.5%;
    width: 80%;
    border-left: 2px solid #818181;
    border-right: 2px solid #6d6d6d;
    border-radius: 0px 0px 3px 3px;
    box-shadow: inset 0px 5px 6px -2px rgba(189,189,189,0.5);
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#fbutton-group {
    display: flex;
    justify-content: space-between;
    margin: 2.5% 10% 0% 10%;
}
#fbutton-group .btn {
    position: relative;
    height: 1.4em;
    width: 1.4em;
    background: #717171;
    border-radius: 100%;
    border-top: 1px solid #888888;
    border-right: 1px solid #888888;
    border-bottom: 1px solid #717171;
    border-left: 1px solid #9c9c9c;
    box-shadow: -0.5px 0.2px 4px 0px #191919;
}
#fbutton-group .btn span {
    color: #dddddd;
    font-family: 'Cabin', sans-serif;
    font-size: 0.74em;
    font-weight: bold;
}
#arrow-group {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 1.4em;
    width: 25%;
    margin-top: 1.2em;
    right: 12%;
}
#arrow-group .btn {
    height: 1.4em;
    width: 1.4em;
    background: #222222;
    border-radius: 100%;
}
#arrow-group .btn span {
    color: #dddddd;
    font-size: 0.5em;
}
#arrow-updown {
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    background: #222222;
}
#arrow-updown:before{
    background: #707070;
    height: inherit;
    width: 0.31em;
    border-radius: 0em 0.5em 0.5em 0em / 0em 2em 2em 0em;
    border-right: 0.33em solid #707070;
    content: '';
    position: relative;
    float: left;
}
#arrow-updown:after{
    background: #777777;
    height: inherit;
    width: 0.31em;
    border-radius: 0.5em 0 0 0.5em / 2em 0em 0em 2em;
    border-left: 0.33em solid #777777;
    content: '';
    position: relative;
    float: right;
}
#arrow-up span, #arrow-down span {
    transform: scale(1.6, 1);
}
#arrow-up {
    position: absolute;
    top: 0;
    margin-top: -83%;
    z-index: 20;
    align-items: flex-start;
    padding-top: 0.2em;
    line-height: 0;
}
#arrow-down {
    position: absolute;
    bottom: 0;
    margin-bottom: -83%;
    z-index: 20;
    align-items: flex-end;
    padding-bottom: 0.2em;
}
#arrow-left span, #arrow-right span {
    transform: scale(1, 1.4);
}
#arrow-left {
    position: absolute;
    left: 0;
    z-index: 20;
    justify-content: flex-start;
    padding-left: 0.2em;
}
#arrow-right {
    position: absolute;
    right: 0;
    z-index: 20;
    justify-content: flex-end;
    padding-right: 0.2em;
}
#columns {
    display: flex;
    margin: 9% 9% 0% 9%;
    justify-content: space-between;
    color: #dddddd;
}
#col-4, #col-5 {
    margin-top: 2.78em;
}
.col {
    position: relative;
    width: 16%;
}
.col .btn {
    background: #717171;
    border-radius: 30% / 100%;
    box-shadow: 0.3px 0.15px 2px 1px #333333;
    color: #dddddd;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 30%;
    height: 0.8em;
}
.col .btn span {
    font-size: 0.5em;
}
.col .btn.btn-blk {
    background: #222222;
    color: #dddddd;
    font-weight: bold;
    margin-bottom: 30%;
    height: 1.1em;
}
.col .btn.btn-blk span {
    font-size: 0.8em;
    margin-bottom: 0.1em;
}
#col-2 .btn-blk {
    border-radius: 25% 15% 15% 25% / 50% 15% 15% 50%;
    box-shadow: 0.3px 0.15px 1px 0px #383838;
}
#col-3 .btn-blk {
    border-radius: 15%;
    box-shadow: 0.3px 0.15px 1px 0px #383838;
}
#col-4 .btn-blk {
    border-radius: 15% 25% 25% 15% / 15% 50% 50% 15%;
    box-shadow: -0.3px 0.15px 1px 0px #383838;
}
#col-1-second {
    background: #37a1cc;
}
#col-1-diamond {
    background: #b5ca96;
    color: black;
}
#col-1-diamond .fa-stop {
    font-size: 0.35em;
    transform: rotate(45deg);
}
#col-1-equal span {
    font-size: 1em;
}
#col-1-on {
    border-radius: 40px 40px 50px 200px;
    padding-top: 30%;
    padding-bottom: 50%;
    padding-left: 5%;
}
#col-2-shift .btn-padding {
    border-radius: 30% / 100%;
    box-shadow: inset 0 0 0px 1px #aaaaaa;
    width: 97%;
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#col-2-shift .fa-arrow-up {
    font-size: 0.6em;
}
#col-2-alpha {
    background: #cccccc;
    color: #505050;
}
#col-3-esc {
    background: #222222;
}
#col-3-apps {
    background: #222222;
    color: #713e89;
}
#col-3-cat {
    letter-spacing: -0.04em;
}
#col-3-period span {
    font-size: 1.5em;
    padding-bottom: 0.4em;
}
#col-4-backspace .fa-long-arrow-left {
    font-size: 0.9em;
}
#col-4-comma span {
    font-size: 1em;
    margin-bottom: 0.5em;
}
#col-4-negative span:nth-child(1), #col-4-negative span:nth-child(3) {
    font-size: 0.4em;
}
#col-4-negative span:nth-child(2) {
    font-size: 1em;
    padding: 0em 0.1em 0.13em 0.1em;
}
#col-5-caret .fa-chevron-up {
    font-size: 0.45em;
    margin-bottom: 0.3em;
    transform: scaleX(1.4);
}
#col-5-div span, #col-5-mult span, #col-5-minus span, #col-5-plus span {
    font-size: 1em;
}
#col-5-enter {
    border-radius: 40px 40px 200px 50px;
    padding-top: 30%;
    padding-bottom: 50%;
    padding-right: 5%;
}